@import "import/services/_keyframes.scss";

#services-container {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;     
}

.services-main-block {
    width: 1116px;
    height: 297px;
    display: flex;
    justify-content: space-between;
    
        @media(max-width: 981px){
            flex-wrap: wrap;
            justify-content: space-around;
    }
    
        @media(max-width: 676px){
            justify-content: center;
    }
}

.services-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 322px;
    height: 250px;
    justify-content: space-between;
}

.services-circle {
    width: 107px;
    height: 107px;
    border: 1px solid #808080;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-head_txt {
    text-transform: capitalize;
    color: #333;
    font-size: 20px;
}

.services-info_txt {
    color: #808080;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}


