div(class= "menu" id="menuAnimate")
    .container-menu
        .block-menu
            img(src="img/path.png" alt="menu" class="img2")
            h1 Menu
        .block2-menu
            ul
                li
                    a(href="#homes" id="home") Home
                li
                    a(href="#services-container" id="services") Services
                li
                    a(href="#stories") stories
                li
                    a(href="#connect" id="contact") contact
        .block3-menu
            .shape
                <i class="fab fa-facebook-f"></i>
            .shape
                <i class="fab fa-twitter"></i>
    div(class="hrest" id="btn") x

          