<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lora|Montserrat" rel="stylesheet")
        link(rel="stylesheet" href="style/mainik.css")
        link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
    style.
        @keyframes menu {
            from {

        }


            to {
                right: 0;
            }   
        }

        @keyframes menuRev {
            from {
                right: 0;
            }

            to {

            }
        }
        .no1 {
            animation-name: menu;
        }

        .no2 {
            animation-name: menuRev;
        }   
    body
        include includes/Carcass/_Glavnaya.jade
        include includes/_services.jade
        include includes/_content.jade
        include includes/_contacts.jade
        include includes/Carcass/_footer.jade
        include includes/Carcass/_menu.jade
    script.
        btn.addEventListener('click', function(){
            menuAnimate.classList.add('no2')
            menuAnimate.classList.remove('no1')
        })
        btn1.addEventListener('click', function(){
            menuAnimate.classList.add('no1')
            menuAnimate.classList.remove('no2')
        }) 

        $("#home").click(function(){
            $('html, body').animate({
                scrollTop: $("#homes").offset().top
            }, 500);
        });
        $("#services").click(function(){
            $('html, body').animate({
                scrollTop: $("#services-container").offset().top
            }, 500);
        });
        $("#stories").click(function(){
            $('html, body').animate({
                scrollTop: $("#content").offset().top
            }, 500);
        });
        $("#contact").click(function(){
            $('html, body').animate({
                scrollTop: $("#connect").offset().top
            }, 500);
        });


        
                  